
.footer{
 font-size:small;
 background-color: #E1F5FE;
 padding: 30px;
}

.plot{
    width: 50%;
    height: 50%;
}

.top-plot-container{
    display: flex;
    flex-flow: row;
}
.changes{
 margin-top: 20px;
}
.changes-tables-container{
  display: flex;
  flex-flow: row;
}

.changes-table {
  margin: 10px;
  margin-bottom: 20px;
  border: solid 1px #B3E5FC;
}

/*overriding material UI styles*/
.table-row{
    height: 20px !important;
    padding: 3px !important;
    //background-color: pink !important;
}