/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.footer{
 font-size:small;
 background-color: #E1F5FE;
 padding: 30px;
}
.changes{
 margin-top: 20px;
}
.changes-tables-container{
  display: flex;
  flex-flow: row;
}

.changes-table {
  margin: 10px;
  margin-bottom: 20px;
  border: solid 1px #B3E5FC;
}
